// Home page
$intro-bg: $midnight-blue;
$about-bg: $pomegranate;
$content-bg: $white;
$more-content-bg: $light-gray;
$bottom-section-bg: $midnight-blue;

$navbar-li: $pomegranate;
$navbar-button: $pomegranate;

$default-button: $asbestos;
